<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="logfile" fileName="${gdc:logDirectory:whenEmpty=${baseDir}}/${date:format=dd-MM-yyyy}.log"
				layout="${date:format=dd-MM-yyyy HH\:mm\:ss} => [${level}] ${message} ${newline}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>